.main_container{
  padding: 20px 20px 50px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.main_container h1{
  display: flex;
  margin: 13px 0;
  font-weight: bold;
}
.main_container h2{
  font-weight: bold;
}
.main_container p{
  margin-left: 5px;
  font-weight: normal;
  white-space: pre-line;
}
.main_container h2 p{
  margin-top: 10px;
}

.button_container{
  display: flex;
  justify-content: flex-end;
}